* {
    box-sizing: border-box;
}

/*Tried to use the root tag for the color and font family but was not working, not sure if I can use it for those styles*/

body {
    background-color: rgb(228, 237, 240);
}

header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(90, 107, 106);
    color: rgb(181, 194, 194);
}

header h1 {
    display: inline-block;
    font-size: 42px;
    color: #cce9eb;
}


header nav {
    padding-top: 10px;
    margin-right: 25px;
    float: right;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 23px;
}

main {
    max-width: 87%;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: bold;
    color: rgba(255, 255, 255, 0.918);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.918);
}

.info {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./images/newbackground.jpg") ;
    background-size: cover;
    background-position: center;
}

.portfolio-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    padding: 30px;
    background-color: rgb(90, 107, 106);
}

.portfolio-information > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 3px solid black;
    font-size: 4vw;
    line-height: 1.1; 
}

.portfolio-information > div{
    flex: 0 0 77%;
}

.portfolio-information p {
    padding-left: 10px;
    margin-bottom: 20px;
}

.project-boxes {
    background-color: none;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex; 
    padding-bottom: 20px;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9em;
}

.project-boxes:first-child {
    min-height: 200px;
    flex-basis: 75%;
    flex-wrap: wrap;
    align-items: center;
}
/* Could not get the images to line up with the first child under project-boxes*/

#project-1 {
    background-image: url("./images/project1title.jpg");
    min-height: 400px;
    flex-basis: 75%;
    flex-wrap: wrap;
    border: 10px solid white;
}

#project-2 {
    background-image: url("./images/project\ 2.jpeg");
    min-height: 200px;
    flex-basis: 75%;
    flex-wrap: wrap;
    border: 10px solid white;
}

#project-3 {
    background-image: url("./images/project\ 3.jpeg");
    min-height: 200px;
    flex-basis: 75%;
    flex-wrap: wrap;
    border: 10px solid white;
}

#project-4 {
    background-image: url("./images/project\ 4.jpeg");
    min-height: 200px;
    flex-basis: 75%;
    flex-wrap: wrap;
    border: 10px solid white;
}

#project-5 {
    background-image: url("./images/project\ 5.jpeg");
    min-height: 200px;
    flex-basis: 75%;
    flex-wrap: wrap;
    border: 10px solid white;
}



h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: relative;
    bottom: 0%;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(206, 218, 224);
    width: 100%;
    padding: 20px;
}

span {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    bottom: 0%;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(206, 218, 224);
    width: 100%;
    padding: 20px;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.contact address a {
    display: inline-block;
    margin: 0 0.2rem 0.1rem 0;
    font-style: 1.3rem;
    padding: 5px;
}
/* My cellphone, email and git hub would not move from being on the right handside */