* {
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 244, 245);
}

header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(230, 224, 229);
    color: azure;
}

header h1 {
    display: inline-block;
    font-size: 39px;
    color: rgb(74, 94, 94);
}

header nav {
    padding-top: 10px;
    margin-right: 25px;
    float: right;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 23px;
}

a {
    color: rgb(74, 94, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}

aside {
    margin-left: 10px;
    padding: 40px;
    background-color: bisque;
    display: inline-block;
}

.info {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../assets/images/background.jpg") ;
    background-size: cover;
    background-position: center;
}

.portfolio-information {
    display: inline block;
    float: right;
    margin-right: 15px;
    padding: 30px;
    clear: both;
    width: 70%;
    background-color: blanchedalmond;
}


#contact-me a {
    font-size: 14px;
    padding-left: 60px;
}

.projects img {
    padding: 5px;
    max-width: 450px;
    max-height: 450px;
    display: block;
    float: left;
}

#project-1 {

}
.HTML